global
  log stdout format raw local0
  maxconn 2048

defaults
  log     global
  mode    http
  option  httplog
  timeout connect 5s
  timeout client 30s
  timeout server 30s

frontend cafeekernel-infra
  bind *:80
  mode http

  # ACLs por hostname
  acl is_portal hdr(host) -i portal.cafeekernel
  acl is_webmail hdr(host) -i webmail.cafeekernel

  # ACL para detectar acesso raiz (ex: http://webmail.cafeekernel/)
  acl webmail_root path -i /

  # Redireciona webmail sem path para /roundcube
  http-request redirect location /roundcube if is_webmail webmail_root

  # Encaminhamento baseado no host
  use_backend portal if is_portal
  use_backend webmail if is_webmail

  default_backend fallback

backend portal
  mode http
  server portal 172.25.0.81:80 check

backend webmail
  mode http
  server email 172.25.0.80:80 check

backend fallback
  mode http
  server dummy 127.0.0.1:65535
